.profile{grid-area:prfl}
.performance{grid-area:prfrmnc}
.attempted{grid-area:attmptd}
.created{grid-area:crtd}
.footer{grid-area:ftr}

.dshbrd{
  width:auto;
  height: auto;
}

.grid-container {
    display: grid;
    margin:auto;
    grid-template-areas:
      'prfl prfl prfrmnc prfrmnc prfrmnc prfrmnc'
      'prfl prfl prfrmnc prfrmnc prfrmnc prfrmnc'
      'attmptd attmptd attmptd crtd crtd crtd'
      'attmptd attmptd attmptd crtd crtd crtd'
      'attmptd attmptd attmptd crtd crtd crtd';
    gap: 10px;
    background-color:  rgba(255, 255, 255,0.4);
    padding: 10px;
  }

.grid-container > div {
    background-color: rgba(255, 255, 255,0.8);
    text-align: center;
    border-radius: 10px;
    padding: 20px 0;
    font-size: 30px;
    min-width: 350px;
    min-height: 200px;
  }
.profile{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}
.primg{
    border-radius:50%;
    /* float: left; */
    min-width: 70px;
    padding: 5px;
    background-color: aqua;
}
.hding{
    font-size: 0.7em;
}
table{
  width:100%;
  font-size: 0.6em;
  margin-top: 10px;
}
table tr td{
  padding-top: 5px;
  /* row-gap: 5px;
  column-gap: 7px; */
}