html {
  height: 100%;
}

/* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#f1de0e, #f9cc05);
} */

nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
}

.active_a {
  background: linear-gradient(184deg, #8754ff, #8e2de2);
  /* background: blue; */
}

login,
scores,
.mkQz,
.abt,
.dshbrd {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 400px; */
  text-align: center;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(10, 194, 239, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 1;
}

login input,
#authcode,
label {
  font-size: 20px;
}

#submit {
  padding: 10px 20px;
  color: #031bf4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
  background-color: #f9cc05;
}

#submit:hover {
  color: red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  /* background-image: url("https://img.freepik.com/free-photo/abstract-glowing-tunnel_181624-16814.jpg?w=1380&t=st=1682401105~exp=1682401705~hmac=6c6d685992727ce6ebb757dbef3a4ac0cf6e641f2e5ffa4607e3b8e494d8f213"); */
  background: linear-gradient(184deg, #8754ff, #8e2de2);
  /* background-size: cover; */
  /* opacity: 80%; */
}
.start-screen,
.score-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(184deg, #ff5479, #cf214c);
  opacity: 100%;
  transition: 0.5s;
  /* opacity: 90%; */
}
button:hover {
  box-shadow: 10px 10px 10px;
  transform: translateY(-4px);
  background: linear-gradient(184deg, #8e2de2, #6c13ba);
}
button:active {
  transform: translateY(4px);
  box-shadow: none;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  color: #ffdde0;
  border: #36bff0 solid;
}
#start-button {
  margin-top: 70px;
}
#start-botton:hover {
  box-shadow: 10px 10px 10px;
  transform: translateY(-4px);
  background: linear-gradient(184deg, #8e2de2, #6c13ba);
  transition: 0.5s;
}
#restart {
  margin-top: 0.9em;
}
#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: #c0bfd2;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
  /* color: #ff5479; */
  font-weight: 400;
}

#next-button,
#authbtn {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #8754ff;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}
.hide {
  display: none;
}
.incorrect {
  background: linear-gradient(184deg, #ff5465, #e22d2d);
  /* color: #d32f2f; */
  border-color: #d32f2f;
  border-width: 3px;
}
.correct {
  background: linear-gradient(184deg, #54ffa1, #30e22d);
  /* color: linear-gradient(184deg,#54ffa1,#30e22d); */
  border-color: #689f38;
  border-width: 3px;
}
#user-score {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  background-color: #54ffa1;
  padding: 10px;
  border-radius: 10px;
  opacity: 90%;
}
.img {
  /* background-image: url("https://img.freepik.com/free-photo/abstract-glowing-tunnel_181624-16814.jpg?w=1380&t=st=1682401105~exp=1682401705~hmac=6c6d685992727ce6ebb757dbef3a4ac0cf6e641f2e5ffa4607e3b8e494d8f213"); */
  background-image: url("../Sources/bg.jpeg");
  opacity: 80%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
quiz {
  opacity: 90%;
}
.option-div:disabled {
  color: #000;
  cursor: not-allowed;
}
.triangle-up {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid;
  background: transparent;
  border-left: none;
  outline: none;
  padding: 0;
  transform: rotate(90deg);
}
#erinfo {
  color: red;
  text-align: center;
  padding-top: 10px;
}
